@import "./../../../assets/_colors.scss";
.inside-modal {
  .layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $black, $alpha: 0.6);
    z-index: 998;
    overflow: hidden;
  }
  .modal {
    width: 50vh;
    max-height: 100vw;
    background-color: #fff;
    position: absolute;
    overflow: scroll;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::-webkit-scrollbar {
      width: 4px;
      background-color: $light;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray;
    }
    .head {
      position: relative;
      padding: 20px 10px;
      border-bottom: 1px solid $gray;
      max-height: 100px;
      .close-modal {
        position: absolute;
        right: 3%;
        top: 10%;
        i {
          font-size: 1.1rem;
        }
      }
    }
  }
}
